body {
  font-family: Arial;
}

.app {
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 6px;
  width: 120px;
}
